<div class="container">
	<div class="col-md-12">
		<h1 class="text-center heading">

			Le bon document, au bon format, au bon moment

		</h1>

	</div>

	<div class="row py-5">
		<div class="col-6">
			<img src="https://uploads-ssl.webflow.com/627540fd7c4f88a83e9671dc/629f249b03132a622c0c0e7e_Doc.%20medicolegal.png" class="rounded img-thumbnail img-fluid">


		</div>
		<div class="col-6 py-5">

			<h1 class="fw-blod">Heading</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eaque dolor sit nisi laudantium dolores cum consequatur inventore, commodi eligendi aliquam numquam animi, asperiores aperiam incidunt dicta! Obcaecati, architecto iste!</p>
		</div>

	</div>
</div>
<div class="py-5 col-12 bg-light">


	<div class="col-lg-6 col-md-8 mx-auto">

		<h1 class="text-center heading">Testez le moteur de recherche
		</h1>


		<form>


			<input type="email" class="form-control rounded-pill" id="exampleFormControlInput1" placeholder="Veuillez taper un mot clé pour votre recherche. Exemple:  'nettoyage'...">


		</form>
		<div class="text-center container">
			<a href="#" class="btn btn-aktehom-blue my-2">Lancer la recherche</a>


		</div>


	</div>
</div>
<div class="container">
	<div class="row py-5">

		<div class="col-lg-6 col-md-6 col-sm-12">


			<div class="card border-light">

				<div class="card-body">
					<h5 class="card-title">
						<img style="background-image: url('https://uploads-ssl.webflow.com/61cfaa8a2d3e6d608488b693/61cfab958a518106833f6466_Color%20Vector%2001.svg');background-repeat: no-repeat;background-size: 90px;background-position: center;" src="https://uploads-ssl.webflow.com/61cfaa8a2d3e6d608488b693/61cfac15d6d8ca45c41e2585_Feature%20Icon%2001.svg" alt="">


						Super feature numéro 1

					</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum cursus ut dolor, sed sollicitudin.</p>

				</div>
			</div>


		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">


			<div class="card border-light">

				<div class="card-body">
					<h5 class="card-title">
						<img style="background-image: url('https://uploads-ssl.webflow.com/61cfaa8a2d3e6d608488b693/61cfab98409575e29a28949d_Color%20Vector%2002.svg');background-repeat: no-repeat;background-size: 90px;background-position: center;" src="https://uploads-ssl.webflow.com/61cfaa8a2d3e6d608488b693/61cfac19f4dde0530c420468_Feature%20Icon%2002.svg" alt="">


						Super feature numéro 2

					</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum cursus ut dolor, sed sollicitudin.</p>

				</div>
			</div>


		</div>


	</div>

	<div class="row">

		<div class="col-lg-6 col-md-6 col-sm-12">


			<div class="card border-light">

				<div class="card-body">
					<h5 class="card-title">
						<img style="background-image: url('https://uploads-ssl.webflow.com/61cfaa8a2d3e6d608488b693/61cfab9a8d36f1e281c0c8e3_Color%20Vector%2003.svg');background-repeat: no-repeat;background-size: 90px;background-position: center;" src="https://uploads-ssl.webflow.com/61cfaa8a2d3e6d608488b693/61cfac1df7200a0008325a7e_Feature%20Icon%2003.svg" alt="">


						Super feature numéro 3

					</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum cursus ut dolor, sed sollicitudin.</p>

				</div>
			</div>


		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">


			<div class="card border-light">

				<div class="card-body">
					<h5 class="card-title">
						<img style="background-image: url('https://uploads-ssl.webflow.com/61cfaa8a2d3e6d608488b693/61cfab9df4dde08330420448_Color%20Vector%2004.svg');background-repeat: no-repeat;background-size: 90px;background-position: center;" src="https://uploads-ssl.webflow.com/61cfaa8a2d3e6d608488b693/61cfac1f8c3133caca10f081_Feature%20Icon%2004.svg" alt="">


						Super feature numéro 4

					</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum cursus ut dolor, sed sollicitudin.</p>

				</div>
			</div>


		</div>


	</div>

</div>
