<div class="col-12 py-0 text-center container">
	<div class="row py-lg-5">
		<div class="col-lg-12 col-md-8 mx-auto">
			<h1 class="heading">Ceci est le moteur de recherche de Aktehom</h1>


			<p class="leadtext-muted text-body-tertiary">Ceci est une phrase explicative qui décrit la proposition de valeur</p>


		</div>
	</div>
</div>

<div class="py-5 col-12 bg-light">


	<div class="col-lg-6 col-md-8 mx-auto">


		<form method="post" action="/result/search">


			<input type="text" class="form-control rounded-pill" id="search_string" name="search_string" placeholder="Veuillez taper un mot clé pour votre recherche. Exemple:  'nettoyage'...">


			<div class="text-center container">
				<button type="submit" class="btn btn-aktehom-blue my-2">Lancer la recherche</button>


			</div>
		</form>


	</div>


</div>

<div class="album py-5">
	<div class="container text-center">
		<div class="row align-items-center" style="position: relative;
																																																																																																														    overflow: hidden;">

			<div class="col-lg-4 col-md-4 col-sm-12 py-2">
				<img src="https://uploads-ssl.webflow.com/627540fd7c4f88a83e9671dc/629f249b03132a622c0c0e7e_Doc.%20medicolegal.png" style="max-width: 200px;" class="rounded-5 img-thumbnail" alt=" ...">

				<h5 class="py-4">Source 1</h5>
				<p class="text-muted text-body-tertiary">
					consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>


			</div>


			<div class="col-lg-4 col-md-4 col-sm-12 py-2">
				<img src="https://uploads-ssl.webflow.com/627540fd7c4f88a83e9671dc/629f249b03132a622c0c0e7e_Doc.%20medicolegal.png" style="max-width: 200px;" class="rounded-5 img-thumbnail" alt=" ...">

				<h5 class="py-4">Source 1</h5>
				<p class="text-muted text-body-tertiary">
					consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>


			</div>


			<div class="col-lg-4 col-md-4 col-sm-12 py-2">
				<img src="https://uploads-ssl.webflow.com/627540fd7c4f88a83e9671dc/629f249b03132a622c0c0e7e_Doc.%20medicolegal.png" style="max-width: 200px;" class="rounded-5 img-thumbnail" alt=" ...">

				<h5 class="py-4">Source 1</h5>
				<p class="text-muted text-body-tertiary">
					consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>


			</div>
		</div>

		<div class="row align-items-center" style="position: relative;
																																																																																																										    overflow: hidden;">

			<div class="col-lg-4 col-md-4 col-sm-12 py-2">
				<img src="https://uploads-ssl.webflow.com/627540fd7c4f88a83e9671dc/629f249b03132a622c0c0e7e_Doc.%20medicolegal.png" style="max-width: 200px;" class="rounded-5 img-thumbnail" alt=" ...">
				<h5 class="py-4">Source 1</h5>
				<p class="text-muted text-body-tertiary">
					consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>


			</div>


			<div class="col-lg-4 col-md-4 col-sm-12 py-2">
				<img src="https://uploads-ssl.webflow.com/627540fd7c4f88a83e9671dc/629f249b03132a622c0c0e7e_Doc.%20medicolegal.png" style="max-width: 200px;" class="rounded-5 img-thumbnail" alt=" ...">

				<h5 class="py-4">Source 1</h5>
				<p class="text-muted text-body-tertiary">
					consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>


			</div>


			<div class="col-lg-4 col-md-4 col-sm-12 py-2">
				<img src="https://uploads-ssl.webflow.com/627540fd7c4f88a83e9671dc/629f249b03132a622c0c0e7e_Doc.%20medicolegal.png" style="max-width: 200px;" class="rounded-5 img-thumbnail" alt=" ...">

				<h5 class="py-4">Source 1</h5>
				<p class="text-muted text-body-tertiary">
					consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>


			</div>
		</div>

		<div class="row align-items-center" style="position: relative;
																																																																																																						    overflow: hidden;">

			<div class="col-lg-4 col-md-4 col-sm-12 py-2">
				<img src="https://uploads-ssl.webflow.com/627540fd7c4f88a83e9671dc/629f249b03132a622c0c0e7e_Doc.%20medicolegal.png" style="max-width: 200px;" class="rounded-5 img-thumbnail" alt=" ...">
				<h5 class="py-4">Source 1</h5>
				<p class="text-muted text-body-tertiary">
					consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>


			</div>


			<div class="col-lg-4 col-md-4 col-sm-12 py-2">
				<img src="https://uploads-ssl.webflow.com/627540fd7c4f88a83e9671dc/629f249b03132a622c0c0e7e_Doc.%20medicolegal.png" style="max-width: 200px;" class="rounded-5 img-thumbnail" alt=" ...">

				<h5 class="py-4">Source 1</h5>
				<p class="text-muted text-body-tertiary">
					consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>


			</div>


			<div class="col-lg-4 col-md-4 col-sm-12 py-2">
				<img src="https://uploads-ssl.webflow.com/627540fd7c4f88a83e9671dc/629f249b03132a622c0c0e7e_Doc.%20medicolegal.png" style="max-width: 200px;" class="rounded-5 img-thumbnail" alt=" ...">

				<h5 class="py-4">Source 1</h5>
				<p class="text-muted text-body-tertiary">
					consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>


			</div>


			<div class="col-lg-4 col-md-4 col-sm-12 py-2">
				<img src="https://uploads-ssl.webflow.com/627540fd7c4f88a83e9671dc/629f249b03132a622c0c0e7e_Doc.%20medicolegal.png" style="max-width: 200px;" class="rounded-5 img-thumbnail" alt=" ...">

				<h5 class="py-4">Source 1</h5>
				<p class="text-muted text-body-tertiary">
					consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>


			</div>

		</div>

	</div>
</div>
