<div class="container">
	<div class="row py-lg-5">

		<div class="col-sm-6 mb-3 mb-sm-0">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<img src="https://uploads-ssl.webflow.com/61dcbec83326c65ac3eb03fa/61dcc84bbd7fa88dd37a2114_Feature%20Icon%2001.svg" alt="">

						Faster Development


					</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adip elit. Donec posuere dolor massa, pellentesque aliquam nisl facilisis sed.</p>

				</div>
			</div>


		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<img src="https://uploads-ssl.webflow.com/61dcbec83326c65ac3eb03fa/61dcc84bbd7fa88dd37a2114_Feature%20Icon%2001.svg" alt="">

						Faster Development


					</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adip elit. Donec posuere dolor massa, pellentesque aliquam nisl facilisis sed.</p>


				</div>
			</div>
		</div>
	</div>
	<div class="row py-lg-5">
		<div class="col-md-12">
			<div class="h-100 p-5 bg-light border rounded-3">
				<h2>Domaine #</h2>
				<p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
			</div>
		</div>
	</div>


</div>
