<div class="col-12 py-0 text-center container">
	<div class="row py-3">
		<div class="col-lg-12 col-md-8 mx-auto">
			<h1 class="heading">Énoncé des domaines couverts

			</h1>


			<p class="leadtext-muted text-body-tertiary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibu</p>


		</div>
	</div>
</div>
<div class="container">
	<div class="row row-cols-1 row-cols-md-2 g-4">


		<div class="col">

			<div class="card border-light">

				<div class="card-body">
					<h5 class="card-title">
						<img src="https://uploads-ssl.webflow.com/61dcbec83326c65ac3eb03fa/61dcc84bbd7fa88dd37a2114_Feature%20Icon%2001.svg" alt="">

						Faster Development


					</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adip elit. Donec posuere dolor massa, pellentesque aliquam nisl facilisis sed.</p>

				</div>
			</div>


		</div>
		<div class="col">

			<div class="card border-light">

				<div class="card-body">
					<h5 class="card-title">
						<img src="https://uploads-ssl.webflow.com/61dcbec83326c65ac3eb03fa/61dcc84bbd7fa88dd37a2114_Feature%20Icon%2001.svg" alt="">

						Faster Development


					</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adip elit. Donec posuere dolor massa, pellentesque aliquam nisl facilisis sed.</p>


				</div>
			</div>
		</div>
		<div class="col">

			<div class="card border-light">

				<div class="card-body">
					<h5 class="card-title">
						<img src="https://uploads-ssl.webflow.com/61dcbec83326c65ac3eb03fa/61dcc84bbd7fa8b8767a2115_Feature%20Icon%2003.svg" alt="">


						Better Standards


					</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adip elit. Donec posuere dolor massa, pellentesque aliquam nisl facilisis sed.</p>

				</div>
			</div>


		</div>
		<div class="col">

			<div class="card border-light">

				<div class="card-body">
					<h5 class="card-title">
						<img src="https://uploads-ssl.webflow.com/61dcbec83326c65ac3eb03fa/61dcc84bbd7fa8b8767a2115_Feature%20Icon%2003.svg" alt="">


						Better Standards


					</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adip elit. Donec posuere dolor massa, pellentesque aliquam nisl facilisis sed.</p>


				</div>
			</div>
		</div>

	</div>


</div>
<div class="container">

	<div class="row py-3">
		<div class="col-md-12">
			<div class="h-100 p-5 border rounded-3">

				<div class="py-3">
					<img class="rounded-circle p-3" style="background-color: rgb(241, 241, 255);" src="https://uploads-ssl.webflow.com/6099e6adc2f07b09914ce2ff/60e9246ce29fa9513f61001b_Feature%20Icon%20(4).svg">


				</div>


				<h3 class="fw-bolder">Domaine 1</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
			</div>

		</div>
	</div>

	<div class="row py-3">
		<div class="col-md-12">
			<div class="h-100 p-5 border rounded-3">
				<div class="py-3">


					<img class="rounded-circle p-3" style="background-color: rgb(254, 248, 241)" src="https://uploads-ssl.webflow.com/6099e6adc2f07b09914ce2ff/60e9246ce29fa9b788610018_Feature%20Icon%20(6).svg">


				</div>


				<h3 class="fw-bolder">Domaine 2</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
			</div>

		</div>
	</div>

	<div class="row py-3">
		<div class="col-md-12">
			<div class="h-100 p-5 border rounded-3">
				<div class="py-3">


					<img class="rounded-circle p-3" style="background-color: rgb(255, 236, 233)" src="https://uploads-ssl.webflow.com/6099e6adc2f07b09914ce2ff/60e9246ce29fa9dab461001a_Feature%20Icon%20(2).svg">


				</div>


				<h3 class="fw-bolder">Domaine 3</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
			</div>

		</div>
	</div>

	<div class="row py-3">
		<div class="col-md-12">
			<div class="h-100 p-5 border rounded-3">
				<div class="py-3">


					<img class="rounded-circle p-3" style="background-color: rgb(238, 248, 249)" src="https://uploads-ssl.webflow.com/6099e6adc2f07b09914ce2ff/60e9246ce29fa99ce1610019_Feature%20Icon%20(3).svg">


				</div>


				<h3 class="fw-bolder">Domaine 4</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
			</div>

		</div>
	</div>

	<div class="row py-3">
		<div class="col-md-12">
			<div class="h-100 p-5 border rounded-3">
				<div class="py-3">


					<img class="rounded-circle p-3" style="background-color: rgb(241, 248, 238)" src="https://uploads-ssl.webflow.com/6099e6adc2f07b09914ce2ff/60e9246ce29fa9883b610017_Feature%20Icon%20(1).svg">


				</div>


				<h3 class="fw-bolder">Domaine 5</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
			</div>

		</div>
	</div>

	<div class="row py-3">
		<div class="col-md-12">
			<div class="h-100 p-5 border rounded-3">
				<div class="py-3">


					<img class="rounded-circle p-3" style="background-color: rgb(255, 246, 250)" src="https://uploads-ssl.webflow.com/6099e6adc2f07b09914ce2ff/60e9246ce29fa91475610016_Feature%20Icon%20(5).svg">


				</div>


				<h3 class="fw-bolder">Domaine 6</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
			</div>
		</div>
	</div>

</div>
