<div class="container">


	<div class="col-md-12">
		<div class="row">
			<h1>
				Le bon document, au bon format, au bon moment

			</h1>

		</p>
	</div>

	<div class="row py-5">
		<div class="col-6">
			<img src="https://uploads-ssl.webflow.com/627540fd7c4f88a83e9671dc/629f249b03132a622c0c0e7e_Doc.%20medicolegal.png" class="rounded img-thumbnail img-fluid">


		</div>
		<div class="col-6 py-5">

			<h1>Heading
			</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eaque dolor sit nisi laudantium dolores cum consequatur inventore, commodi eligendi aliquam numquam animi, asperiores aperiam incidunt dicta! Obcaecati, architecto iste!</p>
		</div>

	</div>


</div>
