<div class="container">
	<div class="col-md-12">
		<h1 class="text-center">

			Le bon document, au bon format, au bon moment

		</h1>

	</div>

	<div class="row py-5">
		<div class="col-6">
			<img src="https://uploads-ssl.webflow.com/627540fd7c4f88a83e9671dc/629f249b03132a622c0c0e7e_Doc.%20medicolegal.png" class="rounded img-thumbnail img-fluid">


		</div>
		<div class="col-6 py-5">

			<h1>Heading</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eaque dolor sit nisi laudantium dolores cum consequatur inventore, commodi eligendi aliquam numquam animi, asperiores aperiam incidunt dicta! Obcaecati, architecto iste!</p>
		</div>

	</div>
</div>
<div class="py-5 col-12 bg-light">


	<div class="col-lg-6 col-md-8 mx-auto">

		<h1 class="text-center">Testez le moteur de recherche
		</h1>


		<form>


			<input type="email" class="form-control rounded-pill" id="exampleFormControlInput1" placeholder="Veuillez taper un mot clé pour votre recherche. Exemple:  'nettoyage'...">


		</form>
		<div class="text-center container">
			<a href="#" class="btn text-white bg-aktehom-blue-btn my-2">Lancer la recherche</a>


		</div>


	</div>
</div>
<div class="container">
	<div class="row py-lg-5">

		<div class="col-sm-6 mb-3 mb-sm-0">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<img src="https://uploads-ssl.webflow.com/61cfaa8a2d3e6d608488b693/61cfac15d6d8ca45c41e2585_Feature%20Icon%2001.svg" alt="">

						Super feature numéro 1

					</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				</div>
			</div>


		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<img src="https://uploads-ssl.webflow.com/61cfaa8a2d3e6d608488b693/61cfac15d6d8ca45c41e2585_Feature%20Icon%2001.svg" alt="">

						Super feature numéro 1

					</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				</div>
			</div>


		</div>
	</div>


	<div class="row py-lg-5">

		<div class="col-sm-6 mb-3 mb-sm-0">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<img src="https://uploads-ssl.webflow.com/61cfaa8a2d3e6d608488b693/61cfac15d6d8ca45c41e2585_Feature%20Icon%2001.svg" alt="">

						Super feature numéro 1

					</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				</div>
			</div>


		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<img src="https://uploads-ssl.webflow.com/61cfaa8a2d3e6d608488b693/61cfac15d6d8ca45c41e2585_Feature%20Icon%2001.svg" alt="">

						Super feature numéro 1

					</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				</div>
			</div>


		</div>
	</div>
</div>
