{% extends 'admin/base_login.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}


{% block body %}
	{{ dump(error) }}

	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}


	<form action="{{ path('app_admin_login') }}" method="post">

		<div class="mb-3">
			<label class="form-label">Email</label>
			<input class="form-control form-control-lg" type="email" id="username" name="_username" value="{{ last_username }}" placeholder="Enter your email"/>
		</div>
		<div class="mb-3">
			<label class="form-label">Password</label>
			<input class="form-control form-control-lg" type="password" id="password" name="_password" placeholder="Enter your password"/>

			<small>
				<a href="index.html">Forgot password?</a>
			</small>
		</div>
		<div>
			<label class="form-check">
				<input class="form-check-input" type="checkbox" value="remember-me" name="remember-me" checked>
				<span class="form-check-label">
					Remember me next time
				</span>
			</label>
		</div>
		<div class="text-center mt-3">
			<button type="submit" class="btn btn-lg btn-primary">Sign in</button>
		</div>
	</form>
{% endblock %}
