.header-bg-akt
{
    background-color:rgb(113, 176, 147)
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #3898EC;
    background-color: rgb(230, 230, 230);
}
a:hover
{
    color: gray !important;
}
a{
    color: black !important;
}