{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	<div class="col-12 g-5">


		<div class="col-6 py-0 text-center container">

			<div class="justify-content container">

				<h1 class="heading">Nous contacter

				</h1>
				<p class="text-muted">We’re make it simple for you to understand the basic principle of our products</p>


				<form class="needs-validation" novalidate="">
					<div class="row g-3">
						<div class="col-sm-6">
							<input type="text" class="form-control" id="firstName" placeholder="Prénom" value="" required="">
							<div class="invalid-feedback">
								Valid first name is required.
							</div>
						</div>

						<div class="col-sm-6">
							<input type="text" class="form-control" id="lastName" placeholder="Nom" value="" required="">
							<div class="invalid-feedback">
								Valid last name is required.
							</div>
						</div>


						<div class="col-12">

							<input type="email" class="form-control" id="email" placeholder="Email : you@example.com">
							<div class="invalid-feedback">
								Please enter a valid email address for shipping updates.
							</div>
						</div>

						<div class="col-12">
							<input type="text" class="form-control" id="address" placeholder="Objet" required="">
							<div class="invalid-feedback">
								Please enter your shipping address.
							</div>
						</div>

						<div class="col-12">

							<textarea name="" class="form-control" id="" cols="30" rows="10" placeholder="Tapez votre message ici"></textarea>

						</div>


					</div>

					<button class="my-4 btn btn-pills btn-aktehom-blue btn-md float-end" type="submit">Envoyer</button>


				</form>

			</div>


		</div>


	</div>
{% endblock %}
