<form method="post" action="{{ path('app_pdf_file_delete', {'id': file.id}) }}" onsubmit="return confirm('Vous allez supprimer cette page! Pour valider appuyer sur OK');">

	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.id) }}">
	<button class="btn btn-danger float-end">Supprimer</button>
</form>
