{% extends 'admin/base.html.twig' %}

{% block title %}Modifier une page
{% endblock %}

{% block body %}


	<ul class="breadcrumb">
		<li>
			<a href="{{ path('app_page_index') }}">Gestion des pages</a>
		</li>
		<li>Modification page</li>
	</ul>


	<div class="card">

		<div class="card-body">
			<h4 class="card-title">Modifier une page</h4>
			{{ include('admin/page/_form.html.twig', {'button_label': 'Valider'}) }}


		</div>
	</div>


{% endblock %}
