<form method="post" action="{{ path('app_menu_delete', {'id': menu.id}) }}" onsubmit="return confirm('Vous allez supprimer ce menu! Pour valider appuyer sur OK');">

	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ menu.id) }}">
	<button class="btn btn-danger float-end">Supprimer</button>

</form>
